*{box-sizing: border-box;}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e80b0;
}

.btn{
  background-color: white;
  color: #e5dc15;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc15;
  border-radius: 5px;
  box-shadow: 0 12px #c2bb11, 0 18px rgba(0,0,0,0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.btn.disable{
  cursor: default;
}

.btn.disable:hover{
  top: 0;
  background: white;
  color: #e5dc15;
  box-shadow: 0 12px #c2bb11, 0 18px rgba(0,0,0,0.4);
}


.btn:hover {
  background-color: #e5dc15;
  color:#0e80b0;
  top: 4px;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0,0,0,0.4);

}

.btn:active{
  top: 8px;
  box-shadow: 0 4px #c2bb11, 0 10px rgba(0,0,0,0.4);

}

.game{
  display: flex;
  flex-wrap: wrap;
}

.game-info{
  margin: 15px;
  color: white;
}

.board > div{
display: flex;
}